* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 1px solid black;
 }

header{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.flex-ul{
    list-style-type: none;
}

.logo, .button{
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
    
}

nav ul li{
    list-style-type: none;
    padding-inline: 1em;
}

p{
    line-height: 150%;
    padding-block: 1em;
}

div h1, p {
    text-align: center;
}

.download-links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.download-links ul li{
    padding-inline: 1em;
}

.download-links ul li a {
    text-decoration: none;
    background-color: lightblue;
    border-radius: 15px;
    padding: 10px;
}

.section{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
}

.right-text, figure{
    flex-basis: 40%;
    padding-inline: 5em;
}

.right-text{
    text-align: center;
}